extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class= "img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Aliquam accumsan dui eget quam scelerisque volutpat. Nulla semper dictum gravida. Etiam ullamcorper pharetra hendrerit. Quisque nec vestibulum nisl. 
                p Ut iaculis risus non lorem interdum iaculis. Duis magna risus, consequat ut laoreet eu, consequat sed leo. Vestibulum euismod posuere tincidunt. Fusce in augue eget massa tristique mattis eget sit amet lectus. 
                p Suspendisse potenti. Quisque ac nibh interdum, maximus mi vitae, sagittis erat. Ut id aliquet nisl. In nec laoreet augue. Nunc suscipit eros a diam finibus, et euismod libero varius. Suspendisse ac massa tristique, fringilla risus consequat, tempus arcu
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Nunc vestibulum sed metus et volutpat.Ut iaculis risus non lorem interdum iaculis. Duis magna risus, consequat ut laoreet eu, consequat sed leo. Vestibulum euismod posuere tincidunt.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Nunc vestibulum sed metus et volutpat.Ut iaculis risus non lorem interdum iaculis. Duis magna risus, consequat ut laoreet eu, consequat sed leo. Vestibulum euismod posuere tincidunt.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Nunc vestibulum sed metus et volutpat.Ut iaculis risus non lorem interdum iaculis. Duis magna risus, consequat ut laoreet eu, consequat sed leo. Vestibulum euismod posuere tincidunt.