extends ../layout/index
block slider
    .slider
        h1 Rio de Janeiro
        em aventura
block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Mauris quis leo metus. Nam porttitor, metus vel condimentum dapibus, nulla neque eleifend lectus, ac iaculis urna arcu efficitur odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Suspendisse bibendum a lacus sit amet laoreet.

                p Vivamus porta tempus turpis, ac tincidunt leo. Vestibulum eleifend sollicitudin ipsum non gravida. Mauris et turpis ac massa tincidunt commodo nec ut sem

            .col-md-6
                img(src="/img/inicio_nosotros.jpg", class="img-fluid")        
        h2.text-center.mb-5 Proximos Viajes
        include ../layout/partials/viajes
    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo 2019 a 28 de Marzo 2019
                        p.precio $2,500 USD
    .container
        h2.text-center.my-5 Testimoniales
        include ../layout/partials/testimoniales
